@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<body>
    <img src="~/css/background.webp" style="position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;">
    <div>
        <h1>Introduction to Assignment</h1>
        <p>
            I have created a HTML page of my interest and xml document displaying the shorcuts of my team members.
            Below are the links.
        </p>
    </div>
    <div>
        <h1>Assignment Links</h1>
        <ol>
            <li>Here is the link to navigate to HTML Page: <a href="~/PaperCraft.html">Paper Craft</a></li>
            <li>CHere is the link to navigate to xml Page: <a href="~/UserValidation.xml">Favorite Shortcuts of my team</a></li>
        </ol>

        <h1>Github Link</h1>
        <p><a href="https://github.com/EktaMahala/IndividualAssignmentXML">https://github.com/EktaMahala/IndividualAssignmentXML</a></p>
    </div>
</body>